@use "../abstracts" as *;

.btn {
  color: $color-black;
  font-size: 1.2rem;
  font-weight: 700;
  height: 50px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-radius: 4px;
  outline: none;
  transition: .3s;
  cursor: pointer;

  a {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    color: $color-white;
    background-color: $color-gray;

    a {
      color: $color-white
    }
  }

  &--large a {
    padding: 0 30px;
  }
}
