@use "../abstracts" as *;

.headline {
  padding: 0 40px;

  h1 {
    font-size: 70px;
    margin-bottom: 60px;
    line-height: 1.2;
  }

  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    input {
      font-size: 1.5rem;
      line-height: 2rem;
      border: 1px solid $color-gray;
      border-radius: 4px;
      padding: 5px 10px;

      &:focus {
        border-color: $color-black;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}

@media (max-width: 500px) {
  .headline {
    h1 {
      font-size: 50px;
    }

    .search {
      margin: 0 20px 20px;
    }

    .btns {
      gap: 20px;

      .btn a {
        padding: 0 10px;
      }
    }
  }
}
