@use "../abstracts" as *;

.player-detail {
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;

  button {
    grid-column: span 2;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  &__image {
    --width: 500px;
    width: var(--width);
    height: calc(var(--width) * 3 / 2);
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    background-color: $color-none;
    margin-top: 15px;
  }

  &__infos {
    h2 {
      font-size: 80px;
      font-weight: 900;
    }

    ul {
      margin-left: 15px;

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 36px 0 15px;
      }
    
      p {
        font-size: 1.3rem;
      }
    }
  }
}
